root = true

# Cấu hình chung cho TẤT CẢ các file
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Cấu hình riêng cho file Markdown (cần khoảng trắng cuối dòng để xuống dòng)
[*.md]
trim_trailing_whitespace = false

# Cấu hình cho file Bash script (nếu có dùng Docker/Linux)
[*.{sh,bash}]
end_of_line = lf
indent_size = 4
